<!DOCTYPE html>
<html>
<title>Airline-delay- Plot 1</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="static/css.css">
<style>
body,h1 {font-family: "Raleway", sans-serif}
</style>
<body>

  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Heat Map for Airline Delay
  </div>
   
<table>
<tr><td>   

<script
    src="https://xcitech.github.io/assets/bokeh_js/heatmap1.js"
    id="c2630dce-04b3-4c53-a510-4667753d1f52"
    data-bokeh-model-id="b4e30841-a61c-4501-87da-b6cf79237375"
    data-bokeh-doc-id="b46ea07f-5c98-4797-9a2c-69a60b83ae38"
></script>
</td></tr>

<tr><td>
<p>Early morning flights tend to have lower flight delays, and the average delay increase with hour of the day. Flights departing late evening tend to have the highest average delays, probably caused by the gradual accretion of delays through the day. Thursday evenings have the highest average delays (~20 minutes)</p>
<p> For more details, read the blog <a href="https://xcitech.github.io/projects/airline-delay1/">here</a>.</p>
<p>
<p> Next <a href="http://airline-scorecard.herokuapp.com/plot2">Plot...</a></p>
</td></tr>
</table>



</body>
</html>
