<!DOCTYPE html>
<html>
<title>Airline-delay- Plot 2</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="static/css.css">
<style>
body,h1 {font-family: "Raleway", sans-serif}
</style>
<body>

  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Airline Delays and the effect of weather
  </div>
   

<script
    src="https://xcitech.github.io/assets/bokeh_js/interact_barchart2.js"
    id="9c176959-b0dc-40c6-94f6-c2e1bf976718"
    data-bokeh-model-id="0b5e5e96-1592-49f2-8699-471b9a23259f"
    data-bokeh-doc-id="0f42d7dc-ed11-441b-8dd4-5e3cf3688c30"
></script>


<p> I used a machine learning model ensemble to predict Flight DELAYs without the influence/effect of weather. For example, consider a flight from New York to San Francisco, which arrived 25 minutes late because it was raining heavily at SF. Using my model, I predict if the flight would have been delayed if it was not raining. </p>
<p> For more details about the model, read the blog <a href="https://xcitech.github.io/projects/airline-delay1/">here</a>.</p>

<p>
<p> Next <a href="http://airline-scorecard.herokuapp.com/plot3">Plot...</a></p>


</body>
</html>
