<!DOCTYPE html>
<html>
<title>Airline-delay- Plot 3</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="static/css.css">
<style>
body,h1 {font-family: "Raleway", sans-serif}
</style>
<body>

  <div class="w3-display-topleft w3-padding-large w3-xlarge">
   <b> On-time Performance Metric for all Carriers (Grouped by Year)</b>
  </div>

<table>
<tr><td>   
<script
    src="https://xcitech.github.io/assets/bokeh_js/plot3.js"
    id="5eb524ac-9e08-42c0-90c0-bc06f23a8d56"
    data-bokeh-model-id="8695d3ca-890b-4d17-a198-9f06a9e40ede"
    data-bokeh-doc-id="0b12f4ac-9357-424e-acae-e24b6dc6245a"
></script>
</td></tr>

<tr><td>
<p> A scatter plot to show Airline Performance (Grouped by Year). X-axis is Average Delay for each Carrier, and Y-axis is Percentage of flights delayed for each carrier. Red signifies poor on-time performance, and green signifies good on-time performance. </p>
<p> For more details about the model, read the blog <a href="https://xcitech.github.io/projects/airline-delay1/">here</a>.</p>
</td></tr>
</table>
</body>
</html>
